/*--- global styles --*/

body {
    background-color: rgb(244, 244, 245);
    color: rgb(0, 0, 0);
}

h6, a {
    color: white;
}

/*---  --*/

p {
    color: rgb(255, 240, 255);
    font-size: 15px;
}
 span {
    color:  red;
    font-size: 30px;
 }

button {
    background-color: blueviolet;
    color: whitesmoke;
    padding: 10px 20px;

}

/*--- table---*/

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid rgb(255, 2, 2);
    padding: 10px;
}
.dias {
    font-weight: bold;
}